@import 'data-themes.css';
@font-face {
    font-family: 'DOS VGA';
    src: url('../Font/perfect_dos_vga_437/Perfect DOS VGA 437 Win.ttf') format('truetype');
}  

:root {
    --card-color: rgb(23, 23, 23);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DOS VGA', monospace;
}

body {
    align-items: center;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
}

/* --- BACK BUTTON --- */
.back-container {
    position: fixed;
    top: 2rem;
    left: 2rem;
}

/* --- BACK BUTTON --- */
#back-btn {
    font-family: 'DOS VGA', monospace;
    background-color: var(--inverse-bg);
    border: clamp(2px, 0.3vw, 4px) solid var(--border-c);
    border-radius: clamp(0.5rem, 1vw, 1rem);
    padding: clamp(0.25rem, 1vw, 1rem) clamp(1.25rem, 2.25vw, 2.25rem);
    font-size: clamp(0.9rem, 1.5vw, 1.2rem);
    cursor: pointer;
    transition: all 0.3s ease;
    display: inline-flex;
    align-items: center;
    gap: 0.5ch;
}

#back-btn:hover {
    background-color: var(--hover);
    transform: scale(1.05);
}

#back-text {
    color: var(--inverse-text);
    transition: color 0.3s ease;
}

#back-btn:hover #back-text {
    color: var(--text);
}

/* --- THEME BUTTON --- */
.theme-container {
    position: fixed;
    top: 2rem;
    right: 2rem;
}

#theme-btn {
    width: clamp(60px, 5vw, 90px);
    height: clamp(60px, 5vw, 90px);
    font-size: clamp(1.5rem, 3vw, 3rem);
    background-color: var(--inverse-bg);
    color: var(--inverse-text);
    border: clamp(2px, 0.4vw, 4px) solid var(--border-c);
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

#theme-btn:hover {
    transform: scale(1.1);
    background-color: var(--hover);
}

/* --- CARDS --- */
#cards {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 916px;
    width: calc(100% - 20px);
    margin-top: 4rem;
}

#cards:hover > .card::after {
    opacity: 1;
}

.card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    position: relative;
    width: clamp(250px, 30%, 300px);
    height: clamp(220px, 25vh, 260px);
}

.card:hover::before {
    opacity: 1;
}

.card::before,
.card::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
}

.card::before {
    background: radial-gradient(
        800px circle at var(--mouse-x) var(--mouse-y),
        rgba(255, 255, 255, 0.06),
        transparent 40%
    );
    z-index: 3;
}

.card::after {
    background: radial-gradient(
        600px circle at var(--mouse-x) var(--mouse-y),
        rgba(255, 255, 255, 0.4),
        transparent 40%
    );
    z-index: 1;
}

.card > .card-content {
    background-color: var(--card-color);
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    inset: 1px;
    padding: 10px;
    position: absolute;
    z-index: 2;
}

h1, h2, h3, h4, span {
    color: var(--white);
    font-family: 'DOS VGA', monospace;
    font-weight: 400;
    margin: 0px;
}

.card-image {
    align-items: center;
    display: flex;
    height: 140px;
    justify-content: center;
    overflow: hidden;
}

.card-info-wrapper {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    padding: 0px 20px;
}

.card-info {
    align-items: flex-start;
    display: flex;
    gap: 10px;
}

.card-info-title > h3 {
    font-size: 1.1em;
    line-height: 20px;
}

.card-info-title > h4 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.85em;
    margin-top: 8px;
}
